/*navbar*/
.navbar-nav {
   
    margin-left:auto;
}
.container-fluid {
    
    padding: 14px;
}
.row.login-acc {
    background: #f8f9fa;
    position: relative;
    left: 15px;
}
.navbar-light .navbar-nav .nav-link{
    color:#000;
    font-family: Montserrat;
}
.navbar-light .navbar-nav .nav-link.active{
color:#000 !important;
font-weight: 700;
}

hr.my-4 {
    width: 90%;
    margin-left: 14px;
}
.navbar-light .navbar-nav .nav-link :hover {
    color: #000 !important;
    font-weight: 700;
}
a.nav-item.nav-link:hover {
    color: #000;
    font-weight: 700;
}
.row.footer-copyright {
    background: #212121;
    padding: 12px;
}

i.fa.fa-search {
    margin-right: 19px;
    margin-left: 19px;
    margin-top: 6px;
}
/*nav end*/
.controls-top {
    float: right;
}
i.fa.fa-chevron-left {
    font-size: 21px;
    background: #d2cece;
        padding: 11px 14px 11px 12px;
    border-radius: 36px;
    color: #fff;
    height: 40px;
}
i.fa.fa-chevron-right {
    font-size: 16px;
    background: #d2cece;
    padding: 8px 12px 0px 11px;
    border-radius: 36px;
    color: #fff;
    height: 34px;
}
.header {
    background: #333333;
    margin: 0 auto;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.card.mb-2 {
    background: #333333;
    width: 198px;
    height: 288px;
    
}
p.card-text {
    text-align: center;
    color: #fff;
    font-size: 22px;
}
.card-title {
    
    text-align: center;
}

.card-body {
    padding: 0 !important;
}
.card-title {
    margin-bottom: .75rem;
    color: #fff;
    padding: 50px 0 0px 15px;
    font-size: 16px;
    text-align: left;
    font-family: Montserrat;

}
p.card-text {
    font-size: 14px !important;
    text-align: left;
    padding: 15px 8px 0px 12px !important;
    font-family: Montserrat;
}
h4.card-title.icon {
    margin-top: 10px;
    padding-top: 60px;
    padding-bottom: 0px;
    text-align: center;
}
p.card-text.new {
    text-align: center;
    margin-bottom: 54px;
    font-size: 22px;
}
.card-title {
    margin-bottom: 8px !important;
}
.first {
    margin-left: 4px !important;
}

.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
}
/**modal**/
h4.heading-preview {
    text-align: center;
    font-family: Montserrat;
}
p.text-preview {
    text-align: center;
    font-family: Montserrat;
}
.hide{
        display: none;
    }

.card-preview p {
    height: 200px;
    overflow-y: auto;
}
img.card-img-top .video {
    background: url(Samplevideo.mp4);
}
img.user-profile {
    width: 35px;
    height: 35px;
    margin-right: 13px;
    margin-top: -5px;
    border-radius: 17px;
    border:1px solid #CCC;
    padding: 2px;

}
.dropdown-toggle::after {
      margin-left: 10px !important;
      margin-top: 10px !important;
}
.nav-link {
    display: flex !important;
   
}
.modal-footer {
    
    display: block !important;}

button.share ,button.delete,button.save{
   
    background: transparent;
    border: none;  
}
img.del-img {
    width: 27px;
    height: 28px;
    vertical-align: bottom;
}
img.share-img {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}
img.save-img {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}
.d-none {
    display: flex !important;
    flex-wrap: wrap !important;
}

select.modal-select {
    background: transparent;
    padding: 5px;
    border: 1px solid #000;
   
}
select.modal-select-privacy {
    background: transparent;
    padding: 5px;
    border: 1px solid #000;
    float: right;
   
}

button.close1 {
    
    background-color: #000 !important;
    
}
.fa{
  font-family: "Font Awesome 5 Free", Montserrat;
  font-weight:501;
}
.close1 {
    float: right;
    font-size: 27px !important;
    font-weight: 700;
    line-height: 1;
    opacity: 1.5 !important;
    margin-right: -149px;
    padding: 3px 2px 2px 3px;
    margin-top: -30px !important;
    width: 34px !important;
    border-radius: 17px !important; 
    color: #fff !important;
    background: #d2cece!important;
    border: 1px solid #000 !important;
}


.slick-prev:before {
    content: '\f053' !important;  
    font-family:FontAwesome !important;
    }
.slick-next:before {  
   content: '\f054' !important;  
   font-family:FontAwesome !important;
}
.slick-prev {
    left: -60px !important;
   
    background: #d2cece !important;
    float: right !important;
    position: relative !important;
    bottom: 29px !important;
   
}
.slick-next {
    right: 15px !important;
     background: #d2cece !important;
    float: right !important;
    top:-28px !important;
     bottom: 98% !important;
}
button.slick-prev.slick-arrow ,button.slick-next.slick-arrow{
    width: 40px;
    height: 40px;
    border-radius: 19px;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 25px !important;
    font-weight: bolder !important;
    line-height: 1;
    opacity: 3.75;
    color: white;
    
}


a.dropdown-item {
    font-family: Montserrat;
}
option.fa {
    font-family: FontAwesome ,Montserrat;
}
a.dropdown-item.user {
    border-bottom: 1px solid #ccc;
}

.slick-prev:hover,.slick-next:hover{
    background: #000 !important;
}
i.fa.fa-user{
    margin-right: 10px;
}

i.fa.fa-sign-out {
    margin-right: 7px;
}
@media(max-width: 320px){
    .slider {
        flex-wrap: wrap !important;

}
.slick-slide.slick-active{
    width: 100% !important;
}
}

.row.slider {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.feed {
    width: 100%;
}
.card.mb-2 {
    background: #333333;
    width: 196px;
    height: 260px;
}
@media(max-width: 1440px) and (min-width: 1200px){
 p.card-text {
    font-size: 13px !important;
    text-align: left;
    padding: 22px 10px 25px 8px !important;
    font-family: Montserrat;
}
}

@media(max-width: 1024px){
    .card.mb-2 {
    background: #333333;
    width: 163px !important;
    height: 259px !important;
}
.slick-slide img {
    display: block;
    height: 258px;
    width: 162px !important;
}
.card-notify-year {
    position: absolute;
    right: -22px !important;}
    .card-title {
    font-size: 15px;}
    p.card-text {
    font-size: 11px !important;}

}

@media(max-width: 999px) and (min-width: 992px){
    p.card-text {
    font-size: 13px;
    text-align: left;
    padding: 11px;
    font-family: Montserrat;
}
.card-title {
        font-size: 18px;
   }
   .card.mb-2 {
    width: 156px;
      height: auto;
}

}
@media(max-width: 990px) and (min-width: 768px){
    p.card-text {
    font-size: 9px;
    text-align: left;
    padding: 11px;
    font-family: Montserrat;
}
.card-title {
       font-size: 12px;
        padding: 11px;
     
}
.card.mb-2 {
    width: 146px;
    height: 207px;
   
}

h4.card-title.icon {
    margin-top: -7px;
    padding-top: 47px;
   }
   p.card-text.new {
    
    font-size: 1px;
}
.slick-slide img {
    display: block;
    height: 205px !important;
    width: 144px !important;
   
}

p.card-text {
        padding: 8px;
        font-size: 10px !important;
   }
 
}
@media(max-width: 425px) and(min-width: 350px){
    .card.mb-2 {
    margin-left: 53px;
}
}
@media(max-width: 375px){
    .row.slider {
    display: flex;
    flex-wrap: wrap !important;
    width: 100%;
}

}
@media(max-width: 425px){
    .row.slider {
    display: flex;
    flex-wrap: wrap !important;
    width: 100%;
}

}


.col-md-3.footer-btn {
    width: 25% !important;
    max-width: 25%;
    margin-left: 20px;
    margin-right: -20px;
}
.col-md-4.footer-btn {
    width: 30% !important;
    max-width: 45%;
       margin-left: 42px;
    margin-right: -42px
}
.card.mb-2 {
    margin-bottom: 25px !important;
}

select.modal-select {
    font-family: FontAwesome ,Montserrat;
    height: 35px;
}
select.modal-select-privacy.fa {
    font-family: FontAwesome ,Montserrat;
}
select.modal-select-privacy {
    font-family: Montserrat;
    height: 35px;
}
textarea {
    overflow: auto;
    resize: vertical;
    width: 100%;
}
.slick-prev:before {
    margin-left: -3px;
}
 .slick-next:before {
    margin-right: -5px;
}

.slick-slide img {
    display: block;
    height: 258px;
    width: 197px;
}
.modal-content {
    max-height: auto;
        margin-top: 20%;
    
}

.modal-content img.card-img-top {
    height: 290px;
    width: 250px;
}
button#save_site {
    background: #EFEFEF;
    border: none;
    margin-top: 18px;
    padding: 15px;
    font-weight: bold;
    border-radius: 8px;
    width: 40%;
}
button#save_site_video {
    background: #EFEFEF;
    border: none;
    margin-top: 18px;
    padding: 15px;
    font-weight: bold;
    border-radius: 8px;
    width: 40%;
}


.text-box-url{
    display: none;
}
div#text-box-url {
    margin-top: 18px;
}
div#text-box-url-video {
    margin-top: 18px;
}
button#submit {
    background: #ccc;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: -4px;
    padding:3px;
    height: 38px;
}


input#website {
    height: 38px;
    padding: 8px;
    margin-top: -2px;
}

@media(max-width: 1366px) {
    .close1 {
   padding: 2px -1px 1px 3px !important;
}
.close {
    padding: 2px -1px 1px 3px !important;
}
i.fa.fa-chevron-right {
    
    padding: 7px 12px 0px 11px;}
}


.close1 .crs {
    display: inline-block !important;
    position: relative !important;
    top: -3px !important;
}

/*adminpanel*/
.feat{padding: 28px 0px 0 0; width:100%; display:block;}
.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 30px;
    padding: 3px;
        border-radius: 18px;
   
    cursor: pointer;
    box-sizing: content-box;
}
.switch-acc {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 30px;
    padding: 3px;
    margin:  0 0 0 0 !important;
    border-radius: 18px;
    cursor: pointer;
    box-sizing: content-box;
}
label {
    font-weight: inherit;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;

    line-height: normal;
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}


.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label {
    background: #fff;
}
.switch-input:checked ~ .switch-label {
    background: #E1B42B;
    
}
.switch-left-right .switch-label {
    overflow: hidden;
}
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;

}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    background: #fff;
    border-radius: inherit;
       margin-top: -4px;
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label:before {
    opacity: 1;
    left: 100px;
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-left-right .switch-label:before {
    background: #fff;
    text-align: left;
    padding-left: 80px!important;
}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -43px;
    border-radius: 20px;
    
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    
}
span.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    position: absolute;
}
.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label:after {
    left: 0!important;
    opacity: 1;
    padding-left: 20px;
}
.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}
.switch-left-right .switch-label:after {
    text-align: left;
    text-indent: 9px;
    background: transparent;!important;
    left: -100px!important;
    opacity: 1;
    width: 100%!important;
 }
.switch-left-right .switch-label:before {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -42px;
    border-radius: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}
.switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -12px !important;
    border-radius: 20px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
}
.switch-input:checked ~ .switch-handle {
    left: 69px;
    background: #c1c1c1;
}
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}
.switch-handle {
    position: absolute;
    top: 4px;
    left: 9px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: #c1c1c1;
}
.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
   /* background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);*/
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
        background: #c1c1c1;
}
span.switch-label {
    border: 2px solid #c1c1c1;
    padding: 2px;
}
.feat p {
    font-size: 16px;
    font-family: Montserrat;

}
.col-md-4.col-md-offset-2.login {
        margin-left: 26px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.featurs {
    margin-top: 40px;
}
.btn-primary {
    color: #6d6c6c !important;
    background-color: transparent !important;
    border-color: #ccc !important;
    font-family: Montserrat;
}
table#dataTables tr th {
    font-family: Montserrat;
        padding-left: 28px;
        }
table#dataTables tr td {
    font-family: Montserrat;
        text-align: center;
}
ul.dropdown-menu.show li a {
    color: #000;
       margin-left: 10px;
}
td.email {
    color: #007bff;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff !important;}

    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
    }
#custom-search-form button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: -30px;
    position: relative;
    margin-right: -11px;
    left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: right;
}
 
    .search-query:focus + button {
        z-index: 3;   
    }   
  .search-query:focus {
    width: 230px;
    outline: none;}   
    input.search-query {
    border: none;
    padding-right: 0;
    padding-left: 12px !important;
    font-family: Montserrat;
    background: transparent;
}
.input-append.span12 {
    display: flex;
  flex-wrap: unset;
}
.field {
    border: 1px solid #ccc;
    border-radius: 21px;
    margin-left: 9px;
    margin-bottom: 12px;
    width: 246px;
    padding: 5px;
    margin-right: -6px;
    margin-top: -6px;
    background:#e0e0e075;
}
label {
font-family: Montserrat;
}
.switch-acc.switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -16px !important;
    border-radius: 20px;
    color:#8a8a8a;
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
}
.switch-acc.switch-left-right .switch-label:before {
    width: 130px;
    height: 20px;
    top: 4px;
    left: -40px;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: 9px !important;
    border-radius: 20px;
    color: #8a8a8a;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}
.switch-acc .switch-input:checked ~ .switch-handle {
    left: 159px !important;
    background: #c1c1c1;
}

.card-notify-year {
    position: absolute;
    right: -16px;
    z-index: 9;
    top: -24px;
    background: #d2cece;
    border-radius: 50%;
    text-align: center;
    color: #000;
    font-size: 14px;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 0;
}
.d-md-block {
    margin-top: 25px;}

.switch-acc.switch-left-right .switch-input:checked ~ .switch-label:after {
    left: 0!important;
    opacity: 1;
    padding-left: 39px;
}
.table td, .table th {
    vertical-align: middle !important;}
span.caret {
    border-left: 1px solid #ccc;
    padding: 10px;
    margin-right: -20px;
    margin-left: 7px;
}
span.card-notify-year:hover {
    color: #fff;
        cursor: pointer;
}
.dropdown-menu {
    min-width: 7rem !important;}
    button.btn.btn-primary.dropdown-toggle:focus {
    outline: none;
    box-shadow: none !important;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: center;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
  td:nth-of-type(1):before { content: "Firt Name"; }
    td:nth-of-type(2):before { content: "Last Name"; }
    td:nth-of-type(3):before { content: "Admin"; }
    td:nth-of-type(4):before { content: "Email Address"; color: #2b2f32;}
    td:nth-of-type(5):before { content: "Password"; }
    td:nth-of-type(6):before { content: "Account"; }
    .agenda {
    width: 100% !important;
}
@media (max-width: 425px) and(min-width: 321px){
    .card-notify-year {
    position: absolute;
    right: 0px !important;
    z-index: 9;
    top: -24px;
    background: #d2cece;
    border-radius: 50%;
    text-align: center;
    color: #000;
    font-size: 14px;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 0;
}
}
