/*navbar*/
.navbar-nav {
   
    margin-left:auto;
}
.container-fluid {
    background: #ECECEC;
    padding: 14px;
    min-height: 83.7vh;
}
.navbar-light .navbar-nav .nav-link{
    color:#000;
    font-family: Montserrat;
}
.navbar-light .navbar-nav .nav-link.active{
color:#000 !important;
font-weight: 700;
}

.navbar-light .navbar-nav .nav-link :hover {
    color: #000 !important;
    font-weight: 700;
}
a.nav-item.nav-link:hover {
    color: #000;
    font-weight: 700;
}
.row.footer-copyright {
    background: #212121;
    padding: 12px;
}

i.fa.fa-search {
    margin-right: 19px;
    margin-left: 19px;
    margin-top: 6px;
}
/*nav end*/
.controls-top {
    float: right;
}
i.fa.fa-chevron-left {
    font-size: 21px;
    background: #d2cece;
        padding: 11px 14px 11px 12px;
    border-radius: 36px;
    color: #fff;
    height: 40px;
}
i.fa.fa-chevron-right {
    font-size: 16px;
    background: #d2cece;
    padding: 8px 12px 0px 11px;
    border-radius: 36px;
    color: #fff;
    height: 31px;
}
.header {
    background: #333333;
    margin: 0 auto;
}
button.days {
    background: transparent;
    border: none;
    border-radius: 25px;
    padding: 13px 26px 13px 26px;
    color: #666666;
    font-family: Montserrat;
}
button.days:hover {
    background: #000;
    border-radius: 25px;
    padding: 13px 26px 13px 26px;
    color: #fff;
}


.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.card.mb-2 {
    background: #fff; 
    height: 288px;
    padding: 0;
    width:245px;
}
p.card-text {
    text-align: center;
    color: #000;
    font-size: 22px;
}
.card-title {
    margin-bottom: 8px;
    color: #000;
    padding: 18px;
    font-size: 16px;
    text-align: left;
    font-family: Montserrat;
}
i.fa.fa-plus {
    border-radius: 25px;
    color: #000;
    font-size: 16px;
    border: 2px solid #000;
    padding: 4px;
    width: 28px;
    text-align: center;
}
.card-body {
    padding: 0 !important;
}
.card-title {
    margin-bottom: .75rem;
    color: #000;
    padding: 18px;
    font-size: 16px;
    text-align: left;
    font-family: Montserrat;

}
p.card-text {
    font-size: 14px !important;
    text-align: left;
    padding:15px 8px 0px 12px !important;
    font-family: Montserrat;
}
h4.card-title.icon {
    margin-top: 10px;
    padding-top: 60px;
    padding-bottom: 0px;
    text-align: center;
}
p.card-text.new {
    text-align: center;
    margin-bottom: 54px;
    font-size: 22px;
}
.card-title {
    margin-bottom: 8px !important;
}
.first {
    margin-left: 4px !important;
}
/*.col-md-2 {
    margin-left: 7px;
    margin-right: 5px;
}*/
.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
}
/**modal**/
h4.heading-preview {
    text-align: center;
    font-family: Montserrat;
}
p.text-preview {
    text-align: center;
    font-family: Montserrat;
}
.hide{
        display: none;
    }
    .hide1{
        display: none;
    }
     .hide2{
        display: none;
    }
.card-preview p {
    height: 200px;
    overflow-y: auto;
    text-align: left;
}
img.card-img-top .video {
    background: url(Samplevideo.mp4);
}
img.user-profile {
    width: 35px;
    height: 35px;
    margin-right: 13px;
    margin-top: -5px;
        border-radius: 17px;
        border:1px solid #CCC;
    padding: 2px;

}
.dropdown-toggle::after {
      margin-left: 10px !important;
      margin-top: 10px !important;
}
.nav-link {
    display: flex !important;
   
}
.modal-footer {
    
    display: block !important;}

button.share ,button.delete,button.save{
   
    background: transparent;
    border: none;  
}
img.del-img {
    width: 27px;
    height: 28px;
    vertical-align: bottom;
}
img.share-img {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}
img.save-img {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}
.d-none {
    display: flex !important;
    flex-wrap: wrap !important;
}

select.modal-select {
    background: transparent;
    padding: 5px;
    border: 1px solid #000;
   
}
select.modal-select-privacy {
    background: transparent;
    padding: 5px;
    border: 1px solid #000;
    float: right;
   
}
.close {
    float: right;
    font-size: 27px !important;
    font-weight: 700;
    line-height: 1;
    opacity: 1.5 !important;
    margin-right: -98px;
    padding: 0px 2px 5px 3px !important;
    margin-top: -35px !important;
    width: 34px !important;
    border-radius: 17px !important; 
    color: #fff !important;
    background: #d2cece!important;
    border: 1px solid #000 !important;
}
button.close {
    
    background-color: #000 !important;
    
}
button.close1 {
    
    background-color: #000 !important;
    
}

.fa{
  font-family: "Font Awesome 5 Free", Montserrat;
  font-weight:501;
}
.close1 {
    float: right;
    font-size: 27px !important;
    font-weight: 700;
    line-height: 1;
    opacity: 1.5 !important;
    margin-right: -141px;
    padding: 0px 2px 3px 3px;
    margin-top: -35px !important;
    width: 34px !important;
    border-radius: 17px !important; 
    color: #fff !important;
    background: #d2cece!important;
    border: 1px solid #000 !important;
}

.slick-prev:before {
    content: '\f053' !important;  
    font-family:FontAwesome !important;
    }
.slick-next:before {  
   content: '\f054' !important;  
   font-family:FontAwesome !important;
}
.slick-prev {
    left: -60px !important;
   
    background: #d2cece !important;
    float: right !important;
    position: relative !important;
    bottom: 29px !important;
   
}
.slick-next {
    right: 15px !important;
     background: #d2cece !important;
    float: right !important;
    top:-28px !important;
     bottom: 98% !important;
}
button.slick-prev.slick-arrow ,button.slick-next.slick-arrow{
    width: 40px;
    height: 40px;
    border-radius: 19px;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 25px !important;
    font-weight: bolder !important;
    line-height: 1;
    opacity: 3.75;
    color: white;
    
}

.card.create-new {
    background: #fff;
    margin-top: 25px;
    width: 196px;
    margin-left: -13px;
    height: 260px;
}
hr.line {
    margin-top: 24px;
    width: 184px;
    margin-left: 6px;
}
a.dropdown-item {
    font-family: Montserrat;
}
option.fa {
    font-family: FontAwesome ,Montserrat;
}
a.dropdown-item.user {
    border-bottom: 1px solid #ccc;
}
p.welcome {
    float: right;
    color: #7d7b7b;
     font-family: Montserrat;
     font-size: 15px;
     font-weight: 700;
         margin-top: 7px;
}
.slick-prev:hover,.slick-next:hover{
    background: #000 !important;
}
i.fa.fa-user{
    margin-right: 10px;
}

i.fa.fa-sign-out {
    margin-right: 7px;
}
.row.days {
    display: flex;
    flex-wrap: wrap;
}
hr.my-4 {
    width: 88% !important;
    margin-left: 0px !important;
}
a.profile_changepassword {
    display: contents;
    text-decoration-line: none;
}

a.profile_changepassword:hover {
    text-decoration-line: none;
}

button.btn.changepassword_btn {

    width: 40%;
    border: 2px solid #000;
    margin: 0 auto;
    color: #fff;
    padding: 12px;
    font-size: 17px;
    margin-top: 14px;
    font-family: Montserrat;
    font-weight: 600;
    border-radius: 9px;
    background: #000;
}   

button.btn.updateuser_btn {
    width: 40%;
    border: 2px solid #000;
    margin: 0 auto;
    color: #fff;
    padding: 12px;
    font-size: 17px;
    margin-top: 14px;
    font-family: Montserrat;
    font-weight: 600;
    border-radius: 9px;
    background: #000;
}
@media(max-width: 320px){
    .slider {
        flex-wrap: wrap !important;

}
.slick-slide.slick-active{
    width: 100% !important;
}
}

.row.slider {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.feed {
    width: 100%;
}
/*@media(max-width: 1440px) and (min-width: 1000px){
 p.card-text {
    font-size: 13px !important;
    text-align: left;
    padding: 22px 10px 25px 8px !important;
    font-family: Montserrat;
}
.card.mb-2 {
    background: #fff;
    width: 196px;
    height: 260px;
}
.card.create-new {
    background: #fff;
    margin-top: 25px;
    width: 196px;
    margin-left: -13px;
    height: 260px;
}
}*/

@media(max-width: 990px) and (min-width: 768px){
    p.card-text {
    font-size: 9px;
    text-align: left;
    padding: 11px;
    font-family: Montserrat;
}
.card-title {
       font-size: 12px;
        padding: 11px;
     
}
.card.create-new {
   
    height: 141px;
    width: 122px;
}
h4.card-title.icon {
    margin-top: -7px;
    padding-top: 47px;
   }
   p.card-text.new {
    
    font-size: 13px;
}
p.card-text {
        padding: 8px;
   }
 
}
@media(max-width: 425px) and(min-width: 350px){
    .card.mb-2 {
  
    margin-left: 53px;
}
}
@media(max-width: 375px){
    .row.slider {
    display: flex;
    flex-wrap: wrap !important;
    width: 100%;
}
/*.col-md-3.col-sm-3.col-xs-3 {
    width: 20% !important;
}
.col-md-4.col-sm-4.col-xs-4{
    width: : 31% !important;
}*/
}
@media(max-width: 425px){
    .row.slider {
    display: flex;
    flex-wrap: wrap !important;
    width: 100%;
}
/*.col-md-3.col-sm-3.col-xs-3 {
    width: 20% !important;
}
.col-md-4.col-sm-4.col-xs-4{
    width: : 31% !important;
}*/
}


.col-md-3.footer-btn {
    width: 25% !important;
    max-width: 25%;
    text-align: center;
   
}
.col-md-4.footer-btn {
    width: 30% !important;
    max-width: 45%;
    text-align: center;
     
}
.card.mb-2 {
    margin-bottom: 25px !important;
}

select.modal-select {
    font-family: FontAwesome ,Montserrat;
    height: 35px;
}
select.modal-select-privacy.fa {
    font-family: FontAwesome ,Montserrat;
}
select.modal-select-privacy {
    font-family: Montserrat;
    height: 35px;
}
textarea {
    overflow: auto;
    resize: vertical;
    width: 100%;
}
.slick-prev:before {
    margin-left: -3px;
}
 .slick-next:before {
    margin-right: -5px;
}
/*login page*/

.login {
    border-right: 1px solid #ccc;
    background: #EFF3F6;
    padding: 60px 0px 0px 0px !important;
}
.Signup {
    padding: 60px 0px 0px 0px !important;
}
label {
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 600;
    margin: 0 auto;
}
input.form-control {
    padding: 25px !important;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 425px;
    margin-top: 11px;
}
input.form-control.sign {
    margin-top: 1px;
    margin-bottom: -9px;
}
a.forgot{
    color: #000;
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 600;
    vertical-align: middle;
}
input.remember{
    color: #000;
    font-size: 13px;
    font-family: Montserrat;
    font-weight: 600;
    vertical-align: middle;
}
button.btn.login_btn {
    border: 2px solid #000;
    width: 66%;
    margin: 0 auto;
    padding: 12px;
    font-size: 17px;
    margin-top: 23px;
    font-family: Montserrat;
    font-weight: 600;
    border-radius: 9px;

}
button.btn.login_btn a {
    color: #000;
}
button.btn.login_btn a:hover {
    color: #fff;
        text-decoration: none;
}
button.btn.sign_btn {
    border: 2px solid #000;
    width: 64%;
    margin: 0 auto;
    color: #fff;
    padding: 12px;
    font-size: 17px;
    margin-top: 14px;
    font-family: Montserrat;
    font-weight: 600;
    border-radius: 9px;
    background: #000;
}
button.btn.login_btn:hover {
    background: #000;
    color: #fff;
}
button.btn.sign_btn:hover {
    background: #fff;
    color: #000;
}
h3.head {
    font-size: 19px;
    font-family: Montserrat;
    font-weight: 600;
    text-align: center;
        margin-bottom: 21px;
}
.field-icon {
    float: right;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: -35px;
    position: relative;
    z-index: 2;
}
@media(max-width: 1024px){
    input.form-control {
    
    width: 344px;
   }
   a.forgot, input.remember {
    font-size: 13px;
}
.col-lg-6.remember {
    font-size: 11px;
   
}
button.btn.login_btn {
      width: 83%;
  }
  button.btn.sign_btn {
    border: 2px solid #000;
    width: 84%;}
    h3.head {
    font-size: 24px;}
    .login {
        padding: 30px 0px 0px 0px !important;
}
}
@media(max-width: 400px) and (min-width: 320px){
.row.log {
    width: 100% !important;
    overflow: hidden;
}
.login,.Signup {
    padding: 30px 0px 0px 0px !important;
}
input.form-control {
    width: 269px;
}
  button.btn.sign_btn ,button.btn.login_btn{
        width: 92% !important;
} 
input.remember {
    margin-left: 0px !important;
}
a.forgot {
    margin-right: 0px !important;
}
}
@media(max-width: 375px){
   button.btn.sign_btn ,button.btn.login_btn{
        width: 79%;
} 

}
@media(max-width: 425px){
   button.btn.sign_btn ,button.btn.login_btn{
        width: 70% !important;
} 
input.remember {
    margin-left: 0px !important;
}
a.forgot {
    margin-right: 0px !important;
}
}
@media(max-width: 768px){
    button.btn.login_btn,button.btn.sign_btn {
    width: 44%;
}
}
/*end*/

/***forgotpassword***/
button.btn.reset_btn {
    margin: auto;
       border: 2px solid #000;
    padding: 13px 33px 13px 33px;
    width: 10;
    margin-top: 18px;
    font-family: Montserrat;
    font-weight: 600;
}

button.btn.reset_btn:hover {
    background: #000;
    color: #fff;
  
}
.col-lg-12.forgot {
    padding: 60px;
}
input.remember {
    
    margin-left: 87px !important;
}

a.forgot {
        margin-right: 100px;
}
/*end*/
/*3jan*/
.slick-slide img {
    display: block;
    height: 221px;
}
.modal-content {
    max-height: auto;
        margin-top: 20%;
    
}
.card.mb-3 {
    background: #fff;
    height: 286px;
    padding: 0;
}
hr.hor-line {
    margin-bottom: 26px;
    margin-top: 26px;
}
.modal-content img.card-img-top {
    /*height: 248px;
    width: auto;
    margin-left: 32%;*/
    height: auto;
    width: 100%;
    margin-top: 2%;
}
button#save_site {
    background: #EFEFEF;
    border: none;
    margin-top: 18px;
    padding: 15px;
    font-weight: bold;
    border-radius: 8px;
    width: 40%;
}
button#save_site_video {
    background: #EFEFEF;
    border: none;
    margin-top: 18px;
    padding: 15px;
    font-weight: bold;
    border-radius: 8px;
    width: 40%;
}


.text-box-url{
    display: none;
}
div#text-box-url {
    margin-top: 18px;
}
div#text-box-url-video {
    margin-top: 18px;
}
button#submit {
    background: #ccc;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: -4px;
    padding:3px;
    height: 38px;
}


input#website {
    height: 38px;
    padding: 8px;
    margin-top: -2px;
}

@media(max-width: 1366px) {
    .close1 {
   padding: 2px 1px 1px 3px !important;
}
.close {
    padding: 3px !important;
}
i.fa.fa-chevron-right {
    
    padding: 7px 12px 0px 11px;}
}

img.card-img-top {
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
iframe.card-img-top.video {
    height: 284px;
}
img.card-img-top-one {
    margin: 0 auto;
    height: auto;
    display: block;
    width: 250px;
    margin-top: 10px;
}
button.close_Data {
    float: right;
    font-size: 27px;
    font-weight: 700;
    line-height: 1;
    margin-right: -30px;
    padding: 0px 2px 5px 3px;
    margin-top: -35px;
    width: 34px ;
    border-radius: 17px ;
    color: #fff ;
    background: #000;
    border: 1px solid #000 ;
}
.col-md-2.rowposts_data {
    padding: 0;
}

/*admnin pannle css start*/

.feat{padding: 28px 0px 0 0; width:100%; display:block;}
.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 30px;
    padding: 3px;
        border-radius: 18px;
   
    cursor: pointer;
    box-sizing: content-box;
}
.switch-acc {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 30px;
    padding: 3px;
    margin:  0 0 0 0 !important;
    border-radius: 18px;
    cursor: pointer;
    box-sizing: content-box;
}
label {
    font-weight: 600;
}
input[type=checkbox], input[type=radio] {
    margin: 0px 0 0;

    line-height: normal;
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}


.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label {
    background: #fff;
}
.switch-input:checked ~ .switch-label {
    background: #E1B42B;
    
}
.switch-left-right .switch-label {
    overflow: hidden;
}
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;

}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    background: #fff;
    border-radius: inherit;
       margin-top: -4px;
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label:before {
    opacity: 1;
    left: 100px;
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-left-right .switch-label:before {
    background: #fff;
    text-align: left;
    padding-left: 80px!important;
}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -43px;
    border-radius: 20px;
    
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    
}
span.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    position: absolute;
}
.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label:after {
    left: 0!important;
    opacity: 1;
    padding-left: 20px;
}
.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}
.switch-left-right .switch-label:after {
    text-align: left;
    text-indent: 9px;
    background: transparent;!important;
    left: -100px!important;
    opacity: 1;
    width: 100%!important;
 }
.switch-left-right .switch-label:before {
    width: 130px;
    height: 20px;
    top: 4px;
    left: -40px;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: 9px !important;
    border-radius: 20px;
    color: #8a8a8a;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}
.switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -16px !important;
    border-radius: 20px;
    color: #8a8a8a;
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
}

/*Start   12-02-2020*/
span.switch-label.login-enable:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -12px !important;
    border-radius: 20px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
}
span.switch-label.login-enable:before {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: 0;
    border-radius: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    background: #fff;
    text-align: left;
    padding-left: 30px!important;
}


.switch-input:checked ~ .switch-handle .switcround_fist {
    left: 69px;
    background: #c1c1c1;
}



/*End   12-02-2020*/


.switch-input:checked ~ .switch-handle {
    left: 159px;
    background: #c1c1c1;
}
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}
.switch-handle {
    position: absolute;
    top: 4px;
    left: 9px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: #c1c1c1;
}
.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
   /* background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);*/
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
        background: #c1c1c1;
}
span.switch-label {
    border: 2px solid #c1c1c1;
    padding: 2px;
}
.featurs {
    margin-top: 40px;
}
.row.login-acc {
    background: #f8f9fa;
   padding: 20px;
    margin: 20px;
}
.container-fluid.admin_container {
    background: none;
}
.card-notify-year {
    position: absolute;
    right: -16px;
    z-index: 9;
    top: -24px;
    background: #d2cece;
    border-radius: 50%;
    text-align: center;
    color: #000;
    font-size: 14px;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 0;
}
.admin_caro {
    margin-top: 50px;
}
.card.mb-2.cardbody_data {
    margin-top: 50px;
}
.card-body.card_datadetails {
    margin-top: 40px;
}
table#dataTables tr th {
    font-family: Montserrat;
        padding-left: 28px;
        }
table#dataTables tr td {
    font-family: Montserrat;
        text-align: center;
}
ul.dropdown-menu.show li a {
    color: #000;
       margin-left: 10px;
}
td.email {
    color: #007bff;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff !important;}

    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
    }
#custom-search-form button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: -30px;
    position: relative;
    margin-right: -11px;
    left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: right;
}
 
    .search-query:focus + button {
        z-index: 3;   
    }   
  .search-query:focus {
    width: 230px;
    outline: none;}   
    input.search-query {
    border: none;
    padding-right: 0;
    padding-left: 12px !important;
    font-family: Montserrat;
    background: transparent;
}
.input-append.span12 {
    display: flex;
  flex-wrap: unset;
}
.field {
    border: 1px solid #ccc;
    border-radius: 21px;
    margin-left: 9px;
    margin-bottom: 12px;
    width: 246px;
    padding: 5px;
    margin-right: -6px;
    margin-top: -6px;
    background:#e0e0e075;
}
.table td, .table th {
    vertical-align: middle !important;}
span.caret {
    border-left: 1px solid #ccc;
    padding: 10px;
    margin-right: -20px;
    margin-left: 7px;
}
span.card-notify-year:hover {
    color: #fff;
        cursor: pointer;
}
.dropdown-menu {
    min-width: 7rem !important;}
    button.btn.btn-primary.dropdown-toggle:focus {
    outline: none;
    box-shadow: none !important;
}
.pagination{
    float: right;
}
/*14feb*/
/*.liveImgPrvBtnDefault .liveImgPrvBtnPray {
    background: transparent;
    border: none;

}*/
.liveImgPrvBtnDefault i , .liveImgPrvBtnPray i {
   font-size: 16px;
    background: #d2cece;
    padding: 8px 12px 0px 11px;
    border-radius: 0px !important;
    margin-left: -10px;
    color: #fff;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
   
}
button#liveImgPrvBtn ,.liveVdoPrvBtnDefault ,button#liveVdoPrvBtn ,.liveImgPrvBtnPray,.liveVdoPrvBtnPray { 
    background: transparent;
    border: none;
}
button#liveImgPrvBtn i ,.liveVdoPrvBtnDefault i, button#liveVdoPrvBtn i,.liveVdoPrvBtnPray i {
    border-radius: 0px !important;
    margin-left: -10px;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    
}

/*14-feb-2020 CSS start*/

.alert.alert-danger.allrquired_login {
    margin: 10px auto;
    width: 60%;
}
.alert.alert-danger.allrquired_resgister {
    padding-bottom: 0px;
    margin: 10px auto;
    width: 60%;
}
@media(max-width: 480px) and (min-width: 400px){
    input.remember {
        margin-left: 44px !important;
        margin-right: 4px !important;
        margin-bottom: 4px !important;
    }
    a.forgot {
        margin-right: 0px;
    }
    
}
@media(max-width: 400px) and (min-width: 320px){
a.forgot {
    margin-right: 23px !important;
    font-size: 14px;
}
input.remember {
   margin-right: 4px;
   margin-bottom: 4px;
   margin-left: 0px !important;
}
}
/*14-feb-2020 CSS End*/

/*15-feb-2020 CSS start*/

.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    left: 42px;
    top: 39px;
}
@media(max-width: 1200px) and (min-width: 1024px){
       .container.feed_contain.my-4 {
        max-width: 1140px;
    }
}
@media(max-width: 1024px) and (min-width: 576px){

p.card-text {
    font-size: 13px !important;
    padding: 15px 8px 0px 12px !important;
}

}
video.card-img-top.video {
    height: 326px;
    margin-top: -40px;
}
@media(max-width:576px){
    video.card-img-top.video {
        margin: 0;
        height: 284px;
    }
}
@media(max-width:576px) and (min-width: 480px){
    p.card-text {
    font-size: 18px !important;
    padding: 15px 8px 0px 12px !important;
  
}
}
@media(max-width:480px) and (min-width: 420px){
    p.card-text {
    font-size: 16px !important; 
    padding: 15px 8px 0px 12px !important;
  
}
@media(max-width:350px) and (min-width: 320px){
    p.card-text {
    font-size: 13px !important; 
    padding: 15px 8px 0px 12px !important;
  
}
@media(max-width: 990px) and (min-width: 768px){
.card.mb-2 {
    background: #fff;
    height: 288px;
    padding: 0;
    width: 192px;
}
}
h4.Signup_disable {
    margin: 0 auto;
    display: block;
    color: red;
    width: 75%;
    margin-bottom: 20px;

}
